.container
    .jumbotron
        h1 Flyers Season Tickets Manager
        p A Web app for the selection and management of season tickets for groups.

        .row
            .col-md-6
                div(ng-include="'/partials/main/pantry'")
            .col-md-6
                div(ng-include="'/partials/main/recipes'")